.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  --float-distance: 5vh;
  box-sizing: border-box;
}

.topHalf {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  background-image: var(--wave-pattern);
  background-repeat: repeat;
  background-size: 120px 10px;
  box-shadow: -1px 1vh 10px rgba(0, 0, 0, 0.5);
}

.bottomHalf {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
  background-image: var(--floral-pattern);
  background-repeat: repeat;
  background-size: 120px 120px;
}

.content {
  position: relative;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

@keyframes floatOne {
  0% {
    transform: translateY(var(--float-distance));
  }

  50% {
    transform: translateY(calc(-1 * var(--float-distance)));
  }

  100% {
    transform: translateY(var(--float-distance));
  }
}

@keyframes floatTwo {
  0% {
    transform: translateY(calc(-1 * var(--float-distance)));
  }

  50% {
    transform: translateY(var(--float-distance));
  }

  100% {
    transform: translateY(calc(-1 * var(--float-distance)));
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes slideRightFar {
  0% {
    transform: translateX(-300vw);
  }
  100% {
    transform: translateX(2000vw);
  }
}

.towerContainer {
  position: absolute;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.kaosImage {
  transform: translateY(18vh) translateX(18vw);
  opacity: 0;
  width: 20vh;
  height: 20vh;
}

.towerImage {
  position: absolute;
  right: -10vw;
  top: 20%;
  transform: translateY(-50%) rotate(-10deg);
  width: 25vw;
  height: 36.9904076739vw;
  z-index: 5;
}

.centerContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.portraitContainer {
  position: relative;
  aspect-ratio: 800/600;
  cursor: pointer;
}

.portrait {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.portraitHover {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
}

.portraitContainer:hover .portrait {
  opacity: 0;
}

.portraitContainer:hover .portraitHover {
  opacity: 1;
}

.matatuContainer {
  position: absolute;
  bottom: 5vh;
  display: flex;
  z-index: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.matatuImage {
  animation: slideLeft 2.5s linear infinite;
  animation-delay: 4s;
  width: 40vw;
  max-width: 300px;
  transform: translateX(100vw);
}

.matatuImage2 {
  animation: slideRight 3.5s linear infinite;
  animation-delay: 2s;
  width: 40vw;
  max-width: 300px;
  transform: translateX(-100vw);
}

.ubahnContainer {
  position: absolute;
  top: 10vh;
  display: flex;
  z-index: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.ubahnImage {
  animation: slideRightFar 10s linear infinite;
  animation-delay: 6s;
  width: 175vw;
  transform: translateX(-500vw);
}

@media screen and (max-width: 768px) {
  .byeImage {
    width: 100vw;
  }

  .portraitContainer {
    width: 80vw;
  }

  .towerImage {
    right: -5vw;
    top: -2%;
    width: 35vw;
    height: auto;
    transform: rotate(-15deg);
  }
}

@media screen and (min-width: 769px) {
  .byeImage {
    width: 30vw;
  }

  .portraitContainer {
    width: 20vw;
  }

  .matatuImage {
    animation: slideLeft 4.5s linear infinite;
  }

  .matatuImage2 {
    animation: slideRight 5.5s linear infinite;
  }

  .ubahnImage {
    animation: slideRightFar 12s linear infinite;
  }
}
