.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  --float-distance: 35px;
  box-sizing: border-box;
}

.topHalf {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 1;
  background-image: var(--wave-pattern);
  background-repeat: repeat;
  background-size: 120px 10px;
  box-shadow: -1px 1vh 10px rgba(0, 0, 0, 0.5);
}

.bottomHalf {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
  background-image: var(--floral-pattern);
  background-repeat: repeat;
  background-size: 120px 120px;
}

.content {
  position: relative;
  padding: 5%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

@keyframes floatOne {
  0% {
    transform: translateY(var(--float-distance));
  }

  50% {
    transform: translateY(calc(-1 * var(--float-distance)));
  }

  100% {
    transform: translateY(var(--float-distance));
  }
}

@keyframes floatTwo {
  0% {
    transform: translateY(calc(-1 * var(--float-distance)));
  }

  50% {
    transform: translateY(var(--float-distance));
  }

  100% {
    transform: translateY(calc(-1 * var(--float-distance)));
  }
}


.headerContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.kaosImage {
  width: 25vw;
  height: 25vw;
}


.towerImage {
  transform: translateY(-8vh) translateX(8vh);
  width: 25vw;
  height: 36.9904076739vw;
}

.centerContainer {
  display: flex;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.portrait {
  width: 40vw;
  max-width: 400px;
}

.matatuContainer {
  display: flex;
  flex: 1;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.matatuImage {
  animation: floatOne 3s ease-in-out infinite;
  width: 40vw;
}

.matatuImage2 {
  animation: floatTwo 3s ease-in-out infinite;
  width: 40vw;
}